<% provide(:title, "Acerca de Red Orange")%>
<h1>¿Que es Red Orange?</h1>
<p>Red Orange es una aplicación web orientado a ERP para la industria manufacturera.</p>
<p>Para más información, vaya a <a href="https://abneed.github.io/">este enlace</a>.</p>