<div style="display:flex;flex-direction: row; align-items: center;">


<form action="" style="display:inline-block; flex-grow: 1;">
  <label for="email">Ingrese su email</label>
  <br>
  
  <input style="width:100%;" type="email" name="email" id="email">
  <br>
  
  <label for="password">Ingrese su contraseña</label>
  <br>
  
  <input type="password" name="pass" id="pass">
  <br>
  <br>

  <input id="submit" type="submit" value="Iniciar Sesión">
  <br>
  <label class="forgot" for="recuperar">¿Olvidó su contraseña?</label>
  <a class="clic" href="">Click aquí</a>
</form>
<div style="display:inline-block;flex-grow: 1;">
  <%= image_tag  "sst-gente.jpg", class: "image_presentation" %>
</div>
</div> 