@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin border-radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@mixin box-shadow {
  -webkit-box-shadow: 0px 3px 20px 3px rgba(1, 132, 155, 1);
  -moz-box-shadow: 0px 3px 20px 3px rgba(1, 132, 155, 1);
  box-shadow: 0px 3px 20px 3px rgba(1, 132, 155, 1);
}

/* universal */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.padding-top {
  padding-top: 24px;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #ff8623;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: orangered;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;
  .form-control {
    color: red;
  }
}

/* miscellaneous */

.debug_dump {
  background-color: lightgray;
  border-radius: 3px;
  padding: 10px;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Collaborators styling */

.navbar {
  background-color: orangered;
  padding: 0 auto;
  width: auto; 
}

.home_logo {
  width: 230px;
}

.button {
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  // background-color: #621295;
  border-radius: 20px;
}

.button:hover {
  color: white;
  background-color: #67ADE1;
  // background-color: #951ce0;
}

.session p{
  text-align: right;   
  color: white;
  padding-right: 20%;
  padding-top: 5px;
}

.session li { 
  list-style: none; 
  float:right; 
  padding-right:15px;
}

.modal {
  padding-top: 50px; 
  width: 600px; 
  height: 300px;
  background-color: #1d1d1d;
  color:#fff;
  margin: 0 auto;
  padding-top: 50px;
  text-align: left;
  border-radius:20px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

form {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
}

input#pass, input#email  {
  width: 350px;
  height: 40px;
  border: 2px solid rgb(2, 174, 204);
  padding-left: 5px;
  @include border-radius;
  @include box-shadow;
}

input#submit {
  width: 180px;
  height: 50px;
  color: white;
  background-color: rgb(1, 132, 155);
  border: 2px solid rgba(0, 132, 155, 1);
  @include border-radius;
  @include box-shadow;
}

.clic {
  color: black;
  font-size: 15pt;
  text-decoration: underline;
}

.forgot {
  font-size: 15pt;
}

.image_presentation {
  width: 600px;
}
